body{
    background-color: #dbd3d1;
}
#mapa{
    width: 100%;
    height: 538px;
}
/*Formulario busqueda*/
.form{
    background-color: white;
    padding: 5%;
    margin-top: 2%;
    width: 60%;
    align-content: center;
}
.navbar-nav > li > a:hover {
    border-bottom: #181818 solid 2px;
}
.navbar-nav>li>.dropdown-menu{
    padding-left:10px;
    padding-right:10px;
}
#inp-buscar{
    width: 56%;
}
.form input{
    margin: 1% 2%;
    width: 60%;
}
.form label{
    margin: 1% 1%;
}
.form .radio{
    margin: 0% 2%;
}
#select{
    width: 25%;
}
/*Formulario busqueda*/

/*Resultado Busqueda*/
.ordenar{
    background-color: white;
    margin: 2% 0%;
    padding: 2%;
    width: 40%;
}
.card{
    margin: 1% 1%;
}
.card p{
    font-size: 70%;
}
.card .caract_dep{
    font-size: 80%;
}
.caract_dep p{
    margin: 2% 2%;
}
.prop_guar{
    background-color: white;
    margin: 2% 0%;
    padding: 1%;
    width: 70%;
}
/*Resultado Busqueda*/
/*vista caracteristica departamento*/
#mapa_desc{
    height: 100%;
    width: 100%;
}
.caract_vista_dep p{
margin: 4% 0%;
}
.caract_vista_dep label{
    margin: 2% 0%;
}
/*vista caracteristica departamento*/
/*anunciate*/
.anunciate{
    margin: 5% 0%;
}
/*anunciate*/